.App {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.App .contents {
  display: flex;
  height: 60%;
  justify-content: space-between;
  margin: auto;
  margin-top: 100px;
  width: 70%;
}

.App .section {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 12px 24px;
  width: 450px;
}

.App .section label {
  margin-bottom: 16px;
}

.App .section .invalid-input-msg {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}